@charset "utf-8"

/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
nav{
	z-index: 1;
	width: 90%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
}
nav ul{
	display: flex;
}
nav ul li a{
	margin: 30px;
	font-family: myriad pro regular;
	color:#505050;
	font-size: 15px;
	font-weight: 700;
}
.home{
	color: darkorange;
}
.logo{
	font-family: RoadTest;
	color:#000000;
	font-size:22px;
} 
.photo-label{
	color: black;
	height: 40px;
	width: 180px;
	background-color: rgba(254,236,164,1); 
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrapper{
	position: absolute;
	top: 15%;
	left: 25%;
	max-width: 800px;
	width: 100%;
	background: #fff;
	padding: 25px;
	border-radius: 5px;
	box-shadow: 4px 4px 2px rgba(254,236,164,1);
}

.wrapper .input-field input[type="text"],input[type="number"], input[type="tel"],input[type="radio"],
.wrapper textarea,
.option{
	width: auto;
	border:2px solid rgba(254,236,164,1);
	padding: 10px;
}
.wrapper textarea{
	height: 150px;
	width: 700px;
	resize: none;
}
.wrapper .btn input[type="submit"]{
	border: 0;
	margin-top: 15px;
	margin-left: 100px;
	padding: 10px;
	width: 70%;
	background: rgba(254,236,164,1);
	color: #332902;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	cursor: pointer;
}
.wrapper #error_message{
	margin-bottom: 20px;
	padding: 0px;
	background: #fe8b8e;
	text-align: center;
	font-size: 14px;
	transition: all 0.5s ease;
}
.a-social-b a:hover{
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  transition: all ease 0.5s;
}
.a-social-b a:hover i{
  color: rgba(254,236,164,1);
  transition: all ease 0.5s;
}
.a-social-b{
  position: fixed;
  top:50%;
  right: 0px;
  transform: translateY(-50%);
}
.a-social-b a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  line-height: 0px;
  background-color: #FFFFFF;
  border:1px solid #cbcbcb;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.a-social-b i{
  color: #2b2b2b;
  font-size: 20px;
}
